In [1]:
import dask.dataframe as df

In [3]:
data = df.read_csv('movie_rate_*.csv',sep='|',usecols=[i for i in range(1,34)])

In [8]:
data.head(1)

,ID_x,Budget,StudioInterference,PrePremiereScreenings,HeavyMarketing,RuntimeMinutes,Title,IDImdb,ReleaseDate,Description,...,IDAwardType,Category,IDMovie_y,IDMovie,IDMoviePortal,Rate,Votes,ID,Name_y,Homepage
0,56132,NaN,NaN,NaN,NaN,94,Winnetou: The Red Gentleman,tt0058751,1965-10-20,"{Forester, a ruthless oil baron, wants to crea...",...,NaN,NaN,NaN,56132,1,6.6,2480,1,Imdb,imdb

In [11]:
df.read_hdf('movie_rating_portal_*.hdf5')

TypeError: read_hdf() missing 1 required positional argument: 'key'

In [ ]:
len(user_data_single)

In [8]:
data = data[data.Category.notnull()]

In [17]:
data.Budget.mean().compute()

70538489.67261666

In [7]:
## Data Mining

In [ ]:
user_data_single.visualize()